@import '~antd/dist/antd.css';

html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: white;
}

/* main page */

.layout {
  background-color: white;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: white;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  -moz-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;
}

.logo {
  margin: 0 20px;
  font-size: 24px;
  font-weight: bolder;
  color: #1890ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search {
  max-width: 420px;
  margin: auto 0;
}

.content {
  padding: 50px 40px;
}

.divider {
  margin-top: 5px;
  color: black;
}

.shelf-content {
  display: flex;
  flex-direction: column;
}

.shelf-books {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.shelf-books__book {
  margin: 0 20px 40px 20px;
}

.ant-card-body {
  background-color: #9dfd38;
  height: 100px;
}

.ant-card-cover img {
  width: 100%;
  height: 300px;
  background-position: center;
}

.ant-card-bordered {
  border: 1px solid darkgray;
}

.footer-author-description {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-author-description__icon {
  margin: 0 0 0 10px;
  font-size: 32px;
}

.book-author-text-color {
  color: rgba(0, 0, 0, 0.45);
}

.ant-btn-icon-only.ant-btn-lg,
.book-card-move-button {
  position: absolute;
  bottom: 65px;
  right: -15px;
  width: 50px;
  height: 50px;
}

.ant-card-meta-detail > div:not(:last-child),
.book-title-bottom {
  margin-bottom: 0;
}

.ant-card-meta-description,
.book-description {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-weight: 480;
}

h2.ant-typography,
.ant-typography h2 .shelf-title {
  margin: 0;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
/* -------------------- */
/* .list-books-title {
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
  outline: 0;
}

.open-search button:hover {
  background-color: rgb(0, 102, 0);
} */

/* search page */

/* .search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

button:active {
  border: red;
  outline: none;
}

.search-books-results {
  padding: 80px 10px 20px;
} */

/* books grid */

/* .books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
} */

/* book cover */

/* .book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
} */
