@import '~antd/dist/antd.css';

html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: white;
}

/* main page */

.layout {
  background-color: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  min-height: calc(100vh - 81px);
}

.header {
  background-color: #fafafa;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  -moz-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;
}

.header-affix {
  height: 68px;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
  color: #1890ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search[type='text'] {
  max-width: 900px;
  width: 420px;
  height: 40px;
  border: 2px solid #ccc;
  background-color: white;
  font-size: 16px;
  border-radius: 4px;
  transition: width 0.4s ease-in-out;
  color: black;
  background-image: url(./icons/searchicon.png);
  background-position: 10px 8px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.search[type='text']:focus {
  width: 100%;
}

.content {
  grid-area: main;
  padding: 50px 40px;
}

.divider {
  margin-top: 5px;
  color: black;
}

.shelf-content {
  display: flex;
  flex-direction: column;
}

.shelf-books {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.shelf-books__book {
  margin: 0 20px 40px 20px;
}

.ant-card-body {
  background-color: #92ee91;
  height: 100px;
}

.ant-card-cover img {
  width: 100%;
  height: 300px;
  background-position: center;
}

.ant-card-bordered {
  border: 1px solid darkgray;
}

.book-page-content {
  padding: 50px 50px;
  background-color: white;
}

.book-page-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.book-page-content-img {
  width: 300px;
  height: 400px;
  background-position: center;
}

.book-page-details {
  display: flex;
  flex-flow: column wrap;
  max-width: 450px;
  padding: 0 25px;
}

.book-page-details-label {
  font-size: 14px;
  font-weight: bold;
}

.footer-author-description {
  grid-area: footer;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-author-description__icon {
  margin: 0 0 0 10px;
  font-size: 32px;
}

.book-author-text-color {
  color: rgba(0, 0, 0, 0.45);
}

.ant-btn-icon-only.ant-btn-lg,
.book-card-move-button {
  position: absolute;
  bottom: 65px;
  right: -15px;
  width: 50px;
  height: 50px;
}

.ant-card-meta-detail > div:not(:last-child),
.book-title-bottom {
  margin-bottom: 0;
}

.ant-card-meta-description,
.book-description {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-weight: 480;
}

h2.ant-typography,
.ant-typography h2 .shelf-title {
  margin: 0;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.empty-state__no-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
